[settings]
auto_install_disable_tools = ["rust"]

[tools]
# specify single or multiple versions
pnpm = '10.22.0'
node = '24.11.1'
"rust" = { version = "1.91.0", targets = "x86_64-unknown-linux-musl" }


[tasks."build"]
depends = ["build:*"]
description = 'Build the CLI'

[tasks."build:backend"]
description = 'Build the Backend'
run = "node --no-warnings=ExperimentalWarning 'util/build.mjs' -q -o backend"
# sources = ['backend/Cargo.toml', 'backend/src/**/*.rs']
outputs = ['build/bin/backend']

[tasks."build:frontend"]
description = 'Build the Frontend'
run = "node --no-warnings=ExperimentalWarning 'util/build.mjs' -q -o frontend"
# sources = ['package.json', 'lib/package.json', '{src,lib,docs}/**/*.*']
outputs = ['dist/index.js']

[tasks."build:collect"]
depends = ["build:backend", "build:frontend"]
description = 'Collect the build artifacts'
run = "node --no-warnings=ExperimentalWarning 'util/build.mjs' -q -o collect"
sources = ['backend/target/release/backend', 'dist/index.js', 'main.py', 'package.json', 'plugin.json', 'README.md']
outputs = ['build/**/*.*']

[tasks."copy"]
depends = ["build"]
description = 'Copy MicroSDeck to the SteamDeck Plugins'
run = "node --no-warnings=ExperimentalWarning 'util/build.mjs' -q -o copy"

[tasks."upload"]
depends = ["build"]
description = 'Upload MicroSDeck to the SteamDeck'
run = "node --no-warnings=ExperimentalWarning 'util/build.mjs' -q -o upload"
