services:
  devcontainer:
    build: 
      context: ../backend
      dockerfile: Dockerfile
      args:
        - USER
    volumes:
      - ../..:/workspaces
      - ../../../.ssh:/home/$USER/.ssh:ro
      - ../../../.local/share/pnpm/store:/home/$USER/.local/share/pnpm/store
    entrypoint: ["/bin/sleep", "infinity"] # we sleep so the container keeps running