on:
  workflow_dispatch:
  pull_request:
    paths: 
      - 'lib/**'
      - 'backend/**'
      - 'src/**'
      - 'docs/**'
      - 'util/**'
  push:
    branches: master
    paths: 
      - 'lib/**'
      - 'backend/**'
      - 'src/**'
      - 'docs/**'

jobs:
  build:
    name: Build plugin
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - uses: jdx/mise-action@v2

    - name: Update Version
      run: |
        echo -n "-$(git rev-parse --short HEAD)" >> backend/version && \
        node util/versioning.mjs update package.json lib/package.json

    - name: Download Decky CLI
      run: |
        mkdir /tmp/decky-cli
        curl -L -o /tmp/decky-cli/decky "https://github.com/SteamDeckHomebrew/cli/releases/latest/download/decky-linux-x86_64"
        chmod +x /tmp/decky-cli/decky

        echo "/tmp/decky-cli" >> $GITHUB_PATH

    - name: Build plugins
      run: |
        echo "::group::Building plugin MicroSDeck"

        # Run the CLI as root to get around Docker's weird permissions
        sudo $(which decky) plugin build -b -o /tmp/output -s directory .
        sudo chown -R $(whoami) .

        echo "::endgroup::"

    - name: Unzip Result
      run: |
        mkdir release && cd release
        unzip /tmp/output/MicroSDeck.zip

    - name: Upload Artifacts to Github
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: "MicroSDeck"
        path: release/*